version: '3.8'

services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  seed_service:
    build: ./seed_service
    depends_on:
      - redis

  frontier_service:
    build: ./frontier_service
    depends_on:
      - redis

  worker_service:
    build: ./worker_service
    depends_on:
      - redis

  nginx:
    image: nginx
    ports:
      - "8000:80"
    volumes:
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf"
    depends_on:
      - seed_service
      - frontier_service